/* public style  */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");

body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}

/* start header style  */
header {
  background: url("../images/homeimg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 0% top;
}

header nav {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  color: #3d566e;
  background-color: #fff;
}

.brand,
.brand:hover {
  font-size: 30px;
  color: #3d566e;
  font-weight: 700;
  cursor: pointer;
}

.web-links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: auto;
}

.web-links ul li a {
  color: #3d566e;
  font-weight: 700;
  transition: 0.4s;
  font-size: 18px;
}

.web-links ul li a:hover {
  text-decoration: none;
  color: #00bba7;
}

.header-body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: "Dosis", sans-serif;
  z-index: 0;
}

.header-body h3,
.header-body h4 {
  font-size: 6vw;
}

.header-body h3 {
  padding-bottom: 40px;
  opacity: 0;
  animation: headFade 2s linear 1s 1 forwards;
}
.header-body h4 {
  padding-top: 40px;
  opacity: 0;
  animation: headFade 2s linear 1s 1 forwards;
}

@keyframes headFade {
  10% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    padding: 0px;
  }
}

/* start buying steps style  */
.buy-steps {
  padding: 100px 100px 20px;
}
.buy-steps .container {
  background-color: #fff;
  margin-top: -150px;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  flex-direction: column;
}

.icon-holder {
  background-color: #00bba7;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-title {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  color: #444;
}
.step p {
  font-family: "Dosis", sans-serif;
}

/* start latest items  */
.latest-items h4 {
  color: #444;
}

.separators {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-star {
  color: #e4e4e4;
}
.separators::before,
.separators::after {
  content: "";
  width: 15vw;
  margin-top: 9px;
  height: 3px;
  background-color: #e4e4e4;
  margin: 20px;
}
