/* public style  */

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");

body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
}

h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}

/* start header style  */
header {
  background: url("../images/homeimg.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 0% top;
}

.shop-header {
  height: 40vh;
}

header nav {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  color: #3d566e;
  background-color: #fff;
  box-shadow: 0px 3px 2px 0px rgb(50 50 50 / 10%);
}

.menu-btn {
  cursor: pointer;
  position: relative;
  display: none;
}

.btn-line {
  width: 30px;
  height: 5px;
  background-color: #444;
  border-radius: 10px;
  margin: 3px;
}

.btn-line::after,
.btn-line::before {
  content: "";
  width: 30px;
  height: 5px;
  background-color: #444;
  position: absolute;
  border-radius: 10px;
}

.btn-line::before {
  bottom: 10px;
}

.btn-line::after {
  top: 10px;
}

.rspnsv-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.993);
  width: 100%;
  overflow: hidden;
}

.rspnsv-menu.opened {
  box-shadow: 0px 3px 2px 0px rgb(50 50 50 / 10%);
  display: block;
}

.rspnsv-menu ul {
  list-style: none;
  display: none;
  transition: 0.4s all ease-in-out;
}

.rspnsv-menu.opened ul {
  display: block;
}

.rspnsv-menu ul li {
  margin-left: 0;
}
.rspnsv-menu ul li:hover {
  background: #00bba7;
}
.rspnsv-menu ul li:hover a {
  color: #fff;
}
.rspnsv-menu ul li a {
  color: #333;
}
.rspnsv-menu ul li a:hover {
  text-decoration: none;
}
.web-links ul li a.active,
.rspnsv-menu ul li a.active {
  color: #00bba7;
}
@media all and (max-width: 875px) {
  .web-links {
    display: none;
  }
  .rspnsv-menu {
    display: block;
  }

  .menu-btn {
    display: block;
  }
}

.brand,
.brand:hover {
  font-size: 30px;
  color: #3d566e;
  font-weight: 700;
  cursor: pointer;
}

.web-links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: auto;
}

.web-links ul li a {
  color: #3d566e;
  font-weight: 700;
  transition: 0.4s;
  font-size: 18px;
}

.web-links ul li a:hover {
  text-decoration: none;
  color: #00bba7;
}

.header-body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: "Dosis", sans-serif;
  z-index: 0;
}

.header-body h3,
.header-body h4 {
  font-size: 6vw;
}

.header-body h3 {
  padding-bottom: 40px;
  opacity: 0;
  animation: headFade 2s linear 1s 1 forwards;
}
.header-body h4 {
  padding-top: 40px;
  opacity: 0;
  animation: headFade 2s linear 1s 1 forwards;
}

.shop-header .header-body h4 {
  font-size: 5vh;
}

@keyframes headFade {
  10% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    padding: 0px;
  }
}

/* start buying steps style  */
.buy-steps {
  padding: 100px 100px 20px;
  display: flex;
  justify-content: space-around;
}
.buy-steps .container {
  background-color: #fff;
  margin-top: -150px;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-holder {
  background-color: #00bba7;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-title {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  color: #444;
}
.step p {
  font-family: "Dosis", sans-serif;
}

/* start latest items  */

.latest-items h4 {
  color: #444;
}

.separators {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-star {
  color: #e4e4e4;
}

.separators::before,
.separators::after {
  content: "";
  width: 15vw;
  margin-top: 9px;
  height: 3px;
  background-color: #e4e4e4;
  margin: 20px;
}

.latest-items .pr-item {
  padding: 10px;
}
.pr-item {
  border: solid 1px #e4e4e4;
}

.img-container {
  max-height: 300px;
  overflow: hidden;
}

.over-image {
  background-color: #00bba7;
  transition: 0.4s;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0;
}

.img-container:hover .over-image {
  opacity: 1;
}

.item-p p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.item-title {
  color: #444;
  cursor: pointer;
}

.item-title h5 {
  border-bottom: double 3px #e4e4e4;
}

.item-btns .text-center {
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
  border: 2px solid #fff;
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  color: #fff;
}

.item-btns .text-center:hover,
.details-btn:hover {
  background-color: #fff;
  color: #00bba7;
}

/* all products section  */
.buttn {
  background: #00bba7;
  color: #fff;
  text-transform: capitalize;
  font-family: "Dosis", sans-serif;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 13px 39px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
  padding-right: 75px;
}
.buttn:hover {
  text-decoration: none;
  color: #fff;
}
.icon-box {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0%;
  top: 0;
  bottom: 0;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box > div {
  animation: rotater 2s linear 1s infinite forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotater {
  0% {
    transform: rotate(360deg);
  }
}

/* product simples  */
.pr-smpl {
  border: solid 1px #e4e4e4;
  position: relative;
}
.smpl-content {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #777;
  line-height: 1.7;
}

.smpl-content p a:hover {
  text-decoration: none;
  color: #00bba7;
}
.iconer {
  font-size: 40px;
  position: absolute;
  top: -30px;
  left: 43%;
  background: #fff;
  padding-left: 10px;
  padding-right: 10px;
  color: #00bba7;
}

/* start support section  */
.support {
  width: 60%;
  margin: auto;
}
.support h3 {
  color: #444;
}

.img-support {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img-support img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.support-content p {
  color: #666;
  line-height: 35px;
  font-weight: 300;
  font-size: 19px;
}
.separators2 .fa-star {
  color: #444;
}

/* start promote  */
.promote {
  background: #00bba7;
  text-transform: capitalize;
  font-family: "Dosis", sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}
.promote-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promote-content a {
  padding: 5px 25px;
  color: #fff;
  border: 1px solid #fff;
  margin-left: 30px;
  margin-bottom: 10px;
  transition: 0.4s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}

.promote-content a:hover {
  text-decoration: none;
  background: #fff;
  color: #00bba7;
}

/* start footer  */

footer {
  background: #222;
}
.footer-content p {
  text-transform: capitalize;
  font-family: "Dosis", sans-serif;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
}

.icons-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-boxer {
  color: #e4e4e4;
  border: solid 1px #333;
  width: 60px;
  height: 60px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cpy {
  font-size: 12px !important;
}

/* start shop page stylle  */
.our-products .container {
  background-color: #fff;
  margin-top: -70px;
}
